@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700;800&family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&display=swap');


:root{
  --sm-font: "Poppins", sans-serif;

  /* Variables de colores */
  --Primero: #145DA0;
  --Segundo: #00827f;
  --Tercero: #22485d;
  --Cuarto: #809d99;
  --Quinto: #f3f6ee;
}
                                             /*-------------------------Estilos Generales-------------------------*/


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  font-family: var(--sm-font);
  min-height: 3000px;
}

/*Animacion Header*/
.nav_mod{ 
  height: 80px;
  box-shadow: 1px 4px 9px 0px #00000020;
  background: #fff;
}




                                               /*------------------------- FIN - Estilos Generales-------------------------*/




/*-------------------------------------------------------------------------------Menu-----------------------------------------------------------------------------*/

header{
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: #fff;
  transition: all 600ms;
}

header .logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

header .logo img{
  width: 43px;
  
}

.navbar-brand{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link{
  font-weight: 500;
}

.navbar-brand img{
  width: 30px;
}

.navbar-brand span{
  letter-spacing: 2px;
  font-family: var(--lg-font);
}

.nav-link:hover{
  color: var(--Primero)!important;
}

.nav-item{
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}



/*Iconos*/

header i{
  transition: all 500ms;
  cursor: pointer;
  font-size: 15px;
  margin-top: -10px;
}

header i:hover{
  color: var(--Primero);
}



/*----Buscador - Estilos----*/

#icono-busqueda{
  color: #282828;
  transition: all 300ms;
}

#icono-busqueda:hover{
  color: var(--MenuHov);
}

#contenedor_barra_busqueda{
  position: fixed;
  top: -80px; /*Lo ocultamos para darle funcionalidad*/
  width: 100%;
  background: #fff;
  padding: 20px;
  z-index: 9;
  transition: all 600ms;
}

#contenedor_barra_busqueda input{
  display: block;
  width: 1200px;
  margin: auto;
  padding: 10px;
  font-size: 18px;
  outline: 0;
}

#caja_busqueda{
  position: fixed;
  top: 165px;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  background: #fff;
  z-index: 8; 
  display: block;
}

 #caja_busqueda a{
  display: block;
  width: 1200px;
  color: #777777;
  padding: 12px 30px;
  text-decoration: none;
  margin-left: -30px;
}

#caja_busqueda a:hover{
  background: #f3f3f3;
}

#caja_busqueda a i{
  margin-right: 10px;
  color: #777777;
}

/*Fondo para sacar buscador*/
#fondo{
  width: 100%;
  height: 100%;
  z-index: 7;
}



/*MENU - RESPONSIVE*/


@media(max-width: 1400px){

  #contenedor_barra_busqueda{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
}

@media(max-width: 1200px){

  header nav .icons i{
    font-size: 15px;
  }

}

@media(min-width: 992px){

  .nav-item{
    border-bottom: none;
  }
  

}

@media(max-width: 770px){

  header .icons{
    padding-left: 30px;
    transition: all 300ms;
  }

}

@media(max-width: 452px){

  header{
    height: 130px;
    transition: all 600ms;
  }

  .logo img{
    margin-left: 10px;
  }

  .nav_mod{
    height: 120px;
    box-shadow: 1px 4px 9px 0px #00000020;
    background: #fff;
    transition: all 1200ms;
    z-index: 100;
  }

  .navbar-toggler{
    margin-top: 6px;
  }

  #contenedor_barra_busqueda{
    padding-top: 30px;
  }

  button{
    margin-top: 5px;
  }

  #contenedor_barra_busqueda{
    margin-top: 20px;
  }

}

@media(max-width: 409px){

 

  header .icons{
    padding-left: 15px;
    padding-bottom: 5px;
  }

   .nav_mod{
      height: 140px;
      box-shadow: 1px 4px 9px 0px #00000020;
      background: #fff;
      transition: all 1200ms;
   }

    #contenedor_barra_busqueda{
      margin-top: 40px;
    }

}

@media(max-width: 390px){

  header .icons{
    padding-top: 10px;
    padding-left: 14px;
    
  }

   header{
    height: 140px;
  }

  .nav_mod{
    height: 130px;
    box-shadow: 1px 4px 9px 0px #00000020;
    background: #fff;
    transition: all 1200ms;
   }

    #contenedor_barra_busqueda{
      margin-top: 40px;
    }
}


@media(max-width: 380px){

   header .icons{
    padding-top: 18px;
    padding-left: 14px;
    padding-bottom: 13px;
  }

   header{
    height: 180px;
  }

  .nav_mod{
    height: 180px;
    box-shadow: 1px 4px 9px 0px #00000020;
    background: #fff;
    transition: all 1200ms;
   }

    #contenedor_barra_busqueda{
      margin-top: 80px;
    }
}


/*---------------------------------------------------------------------------FIN DE MENU---------------------------------------------------------------------------*/

































/*----------------------------------------------------------------------------SLIDER-------------------------------------------------------------------------------*/

.carousel-inner{
  max-height: 45rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*SLIDER - RESPONSIVE...*/

/*-------------------------------------------------------------------------FIN - SLIDER----------------------------------------------------------------------------*/


































/*------------------------------------------------------------------------SOBRE NOSOTROS---------------------------------------------------------------------------*/
#sobre{
  margin-bottom: 15rem;
}

.sobre-section{
  background: #fff;
}

.sobre-section .card,
.sobre-section .card img{
  border-radius: 0.625rem;
}

#sobre{
  margin-top: 10rem;
}

#h2{
  color: #22485d;
  font-weight: 600;
}

#p{
  margin-top: 3rem;
  font-size: 20px;
  font-weight: 400;
  color: rgb(88, 87, 87);
}


/*-----------------------------------------------------------------------FIN - SOBRE NOSOTROS----------------------------------------------------------------------*/




































/*-----------------------------------------------------------------------------PLATOS------------------------------------------------------------------------------*/
#title-platos{
  padding-bottom: 1rem;
}

#explore-food{
  padding-bottom: 10rem;
}

.explore-food .card{
  border: none;
  background-color: transparent;
  border-radius: 0.9375rem;
}

.explore-food .card img{
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.explore-food .card span{
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  color: #00827f;
  padding-bottom: 1rem;
  border-bottom: 0.0625rem solid #eee;
}

.explore-food #info-platos{
  color: #22485d;
  font-size: 15px;
  line-height: 22px;
  color: rgb(97, 97, 97);
}

.main-btn{
  padding: 10px 15px;
  border: none;
  background-color: var(--Primero);
  color: wheat;
  border-radius: 10px;
  transition: all 300ms;
}

.main-btn:hover{
  background-color: #175793;
}

.icons-star{
  margin-left: 16rem;
  margin-top: -48px;
}






























/*------------------------------------------------------------------------Preguntas Frecuentes---------------------------------------------------------------------*/
#preguntas-frecuentes{
  margin-bottom: 8rem;
}

.preguntas h5 span{
  color: var(--Segundo);
  font-size: 20px;
  margin-right: 10px;
}

.preguntas h5{
  font-size: 22px;
  color: var(--Tercero);
  font-weight: 600;
}

.preguntas #SobreNosotros{
  color: #666;
  font-size: 18px;
  margin-top: 1rem;
}

#PregTitle{
  color: var(--Segundo);
}

.preguntas #PregTitle::before{
  position: absolute;
  content: "";
  width: 4px;
  height: 50px;
  background-color: var(--Segundo);
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.preguntas .parrafos{
  margin-top: 2rem;
}

















/*Boton hacia arriba*/
.boton{
  width: 45px;
  height: 45px;
  background: var(--Segundo);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Quinto);
  border-radius: 50%;
  font-size: 14px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  border: 4px solid transparent;
  transition: all 300ms ease;
}


.boton i{
  text-decoration: none;
}

.boton:hover{
  transform: scale(1.1);
  border-color: rgba(0,0,0,0.1);
  color: white;
}

























/*-----------------------------------------------------------------------------Contacto----------------------------------------------------------------------------*/
#contacto{
  padding-top: 5rem;
  margin-bottom: 10rem;
}

.contacto-titulo{
  color: var(--Cuarto);
}

.contact-intro{
  color: #666;
  font-size: 18px;
}

.btn-mensaje{
  border: 3px solid rgba(100,100,100,0.1);
  padding: 10px 40px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  background-image: linear-gradient(to left, #145DA0, #00827f);
  margin-bottom: 5rem;
  transition: all 300ms;
}

.btn-mensaje:hover{
 transform: scale(1.01);
}





















/*-------------------------------------------------------------------------Pié de pagina---------------------------------------------------------------------------*/

@media(max-width: 767px){
  .iconos-contact{
     margin-left: 2rem;
  }
}